trigger:
- master

pool:
  name: 'Default'  # your self-hosted Windows agent pool
  
steps:

# 1) Download Trivy
- task: PowerShell@2
  displayName: "Download Trivy"
  inputs:
    targetType: 'inline'
    script: |
      $trivyUrl = "https://github.com/aquasecurity/trivy/releases/download/v1.5.1/trivy_1.5.1_Windows-64bit.zip"
      $zipPath = "$(Build.SourcesDirectory)\trivy.zip"
      Write-Host "Downloading Trivy..."
      Invoke-WebRequest -Uri $trivyUrl -OutFile $zipPath

      Write-Host "Extractin
